---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="John G Lien"
  description="Personal site of John G Lien"
/>
<BaseLayout>
  <Hero />
  <div class="flex mx-auto justify-center max-w-2xl px-4">
      <div class="mt-8 text-sm font-light">
        <p class="text-black dark:text-white">About Me</p>
        <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-2">
          <p>
            Hello! I write software for a living. I specialize in cloud infrastructure and automation.
          </p>
        </div>
    </div>
  </div>
</BaseLayout>
