---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="John G Lien"
  description="Personal site of John G Lien"
/>
<BaseLayout>
  <Hero />
  <div class="flex mx-auto justify-center max-w-2xl px-4">
      <div class="mt-8 text-sm font-light">
        <p class="text-black dark:text-white">About Me</p>
        <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-2">
          <p>
            Hailing from Portland, Oregon in the Pacific Northwest, I currently live in Denver, Colorado. I write software for a living, specializing in cloud infrastructure and automation. In my free time I practice Brazilian Jiu Jitsu, snowboard, attend concerts, hike, etc. All the Colorado things.
          </p>
          <p>
            From a young age, I always had a knack for problem solving and aspired to be an engineer, like my grandfather and role model, Jesse R Lien. He demonstrated how far you can go in life if you work hard, are determined, and posses and develop valuable skills. I was active in the Boy Scouts of America as an adolescent where I served as Senior Patrol Leader at a young age and attained the rank of Eagle Scout in 2011.
          </p>
          <p>
            An alumnus of the University of Portland in Portland, Oregon, I graduated in 2016 with a bachelor’s in Computer Science and a minor in Mathematics.
          </p>
          <p>
            I started my career at Sage Software’s Beaverton, Oregon office, working on the suite of construction and real estate products. During my time there, I became proficient in .NET/C# and moved into a senior role a couple years in. Towards the end of my career there, as we started developing native-cloud solutions in Microsoft Azure, I became interested in cloud infrastructure and automation. I left Sage to pursue a career in DevOps, and haven’t looked back since. I joined a promising start-up and was quickly promoted to Lead DevOps Engineer. We were developing an innovative biometric identity product, hosted in Microsoft Azure.
          </p>
          <p>
            Currently, I am a Senior Software Engineer at Canopy. Our product is a revolutionary loan servicing engine hosted in AWS. I am proud to be part of the team of rockstars that have been assembled.
          </p>
        </div>
    </div>
  </div>
</BaseLayout>
