---
---
<section>
  <div class="relative flex mx-auto py-2">
      <nav class="flex flex-grow justify-center flex-row px-28">
        <a class="px-2 text-sm underline hover:no-underline duration-200 text-black dark:text-white hover:text-accent-400"
          href="/">About</a>
        <a class="px-2 text-sm underline hover:no-underline text-black dark:text-white hover:text-accent-400"
          href="/blog">Blog</a>
      </nav>
  </div>
</section>
