---
---
<section class="bg-white dark:bg-black border-b border-black/5">
  <div class="relative flex mx-auto px-8 py-2 pb-6 pt-4">
      <nav class="flex flex-grow justify-center flex-row">
        <a class="px-2 text-sm underline hover:no-underline duration-200 text-black dark:text-white hover:text-accent-400"
          href="/">About</a>
        <a class="px-2 text-sm underline hover:no-underline text-black dark:text-white hover:text-accent-400"
          href="/blog">Blog</a>
      </nav>
  </div>
</section>
