---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>

  <body class="bg-white dark:bg-black">
    <Navbar />
    <slot />
  </body>
</html>
