---
import { AstroSeo } from "@astrolib/seo";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
/>
<BaseLayout>
  <div class="cust-markdown mx-auto max-w-7xl m-4 p-4 prose sm:prose-sm lg:prose-lg xl:prose-xl dark:prose-invert prose-img:rounded-lg bg-gray-100 dark:bg-gray-900 rounded-2xl">
    <slot />
  </div>
</BaseLayout>

<style>
  .cust-markdown {
    font-family: "system-ui";
  }
</style>
